/* Menu.css */
.menu-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.menu-button {
    width: 20px;
    height: 20px;
    border: 2px solid #f0ebd6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-button.open {
    background-color: #f0ebd6;
}

.menu-list {
    position: absolute;
    top: 20px;
    padding: 15px;
    right: 0;
    border-radius: 8px;
    overflow: hidden;
}

.menu-list-item {
    font-family: 'Rubik', sans-serif;
    width: 120px;
    /* Adjusted width */
    height: 30px;
    /* Adjusted height */
    background-color: #f0ebd6;
    /* Set background color for each menu item */
    border: 2px solid #f0ebd6;
    border-radius: 15px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-list-item:hover,
.menu-list-item.pressed {
    background-color: #f0ebd6;
}